server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"


# This part will be fetched from config server
#
#solace:
#  host: tcp://localhost:55554
#  username: admin
#  password: admin
#  vpnName: default
#  queues:
#    - name: queue1
#      topics:
#        - topic1
#        - topic2
#    - name: queue2
#      topics:
#        - topic3
#        - topic4
#    - name: queue3
#      topics:
#        - topic5




logging:
  level:
    org.springframework: ERROR
    com.imdadareeph: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
