server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"


# This part will be fetched from config server from https://github.com/imdadareeph/solace-topic-queue-configs/blob/main/solace-topic-queue/dev/solace-topic-queue-dev.yml

# solace:
#  host: tcp://localhost:55554
#  username: admin
#  password: admin
#  vpnName: default
#  queues:
#    - name: DEV.ORDERSERVICE.V1
#      topics:
#        - DEV/orderservice/v1/created
#        - DEV/orderservice/success/v1/created
#        - DEV/orderservice/failure/v1/created
#    - name: DEV.PAYMENTSERVICE.V1
#      topics:
#        - DEV/paymentservice/v1/created
#        - DEV/paymentservice/success/v1/created
#        - DEV/paymentservice/failure/v1/created
#    - name: DEV.CARTSERVICE.V1
#      topics:
#        - DEV/cartservice/success/v1/created










logging:
  level:
    org.springframework: ERROR
    com.imdadareeph: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
